{{- define "signature" -}}
getLast{{ .Return.Type }}(pk int64) ({{ param .Return }}, err error)
{{- end -}}

{{- define "body" -}}{
	const __stmt=`{{ .SQL }}`
	obj.logStmt(__stmt, pk)

	{{ init .Return }}
	err = obj.driver.QueryRow(__stmt, pk).Scan({{ addrof (flatten .Return) }})
	if err != nil {
		return {{ zero .Return }}, WrapErr(err)
	}
	return {{ arg .Return }}, nil
}
{{ end -}}
