{{- define "signature" -}}
Update_{{ .Suffix }}({{ ctxparam .Args }},
	update {{ .Struct.UpdateStructName }}) (
	{{ param .Return }}, err error)
{{- end -}}

{{- define "invoke" -}}
Update_{{ .Suffix }}({{ ctxarg .Args }}, update)
{{- end -}}

{{- define "body" -}}
	{{ embedsql .Info "__embed_stmt" }}

	__sets_sql := __sqlbundle_Literals{Join: ", "}
	var __values []interface{}

	{{ range .Struct.UpdatableFields }}
	if update.{{ .Name }}._set {
		__values = append(__values, update.{{ .Name }}.value())
		__sets_sql.SQLs = append(__sets_sql.SQLs, __sqlbundle_Literal("{{ .Column }} = ?"))
	}
	{{ end }}

	{{- if .NeedsNow }}
	__now := obj.db.Hooks.Now().UTC()
	{{ end -}}
	{{ range .AutoFields }}
	__values = append(__values, {{ .InitVal }})
	__sets_sql.SQLs = append(__sets_sql.SQLs, __sqlbundle_Literal("{{ .Name }} = ?"))
	{{ end }}

	{{ if not .AutoFields }}
	if len(__sets_sql.SQLs) == 0 {
		return nil, emptyUpdate()
	}
	{{ end }}
	__values = append(__values, {{ fieldvalue .Args }})

	__sets.SQL = __sets_sql
	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, __values...)

	{{ init .Return }}
	{{ if .SupportsReturning }}
	err = obj.driver.QueryRow(__stmt, __values...).Scan({{ addrof (flatten .Return) }})
	if err == sql.ErrNoRows {
		return nil, nil
	}
	if err != nil {
		return nil, obj.makeErr(err)
	}
	{{ else -}}
	_, err = obj.driver.Exec(__stmt, __values...)
	if err != nil {
		return nil, obj.makeErr(err)
	}

	{{ embedsql .InfoGet "__embed_stmt_get" }}
	var __stmt_get = __sqlbundle_Render(obj.dialect, __embed_stmt_get)
	obj.logStmt("(IMPLIED) " + __stmt_get, {{ fieldvalue .Args }})

	err = obj.driver.QueryRow(__stmt_get, {{ fieldvalue .Args }}).Scan({{ addrof (flatten .Return) }})
	if err == sql.ErrNoRows {
		return nil, nil
	}
	if err != nil {
		return nil, obj.makeErr(err)
	}
	{{ end -}}
	return {{ arg .Return }}, nil
{{- end -}}
