{{- define "signature" -}}
Get{{ .Suffix }}({{ param .Args }}) ({{ param .Row }}, err error)
{{- end -}}

{{- define "body" }}{
	const __stmt=`{{ .SQL }}`
	obj.logStmt(__stmt, {{ arg .Args }})

	{{ init .Row }}
	err = obj.impl.QueryRow(__stmt, {{ arg .Args }}).Scan({{ addrof (flatten .Row) }})
	if err == sql.ErrNoRows {
		return {{ zero .Row }}, nil
	}
	if err != nil {
		return {{ zero .Row }}, WrapErr(err)
	}
	return {{ arg .Row }}, nil
}
{{ end -}}
