{{- define "signature" -}}
deleteAll(ctx context.Context) (count int64, err error)
{{- end -}}

{{- define "body" -}}
	var __res sql.Result
	var __count int64

{{- range .SQLs }}
	__res, err = obj.driver.Exec({{ printf "%q" . }})
	if err != nil {
		return 0, obj.makeErr(err)
	}

	__count, err = __res.RowsAffected()
	if err != nil {
		return 0, obj.makeErr(err)
	}
	count += __count
{{- end }}

	return count, nil
{{ end -}}
