{{- define "signature" -}}
Has_{{ .Suffix }}({{ ctxparam .Args }}) (
	has bool, err error)
{{- end -}}

{{- define "invoke" -}}
Has_{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" }}
	{{ embedsql .Info "__embed_stmt" }}
	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, {{ fieldvalue .Args }})

	err = obj.driver.QueryRow(__stmt, {{ fieldvalue .Args }}).Scan(&has)
	if err != nil {
		return false, obj.makeErr(err)
	}
	return has, nil
{{ end -}}
