{{- define "signature" -}}
Count{{ .Suffix }}({{ ctxparam .Args }}) (
	count int64, err error)
{{- end -}}

{{- define "invoke" -}}
Count{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" }}{
	const __stmt={{ printf "%q" .SQL }}
	obj.logStmt(__stmt, {{ fieldvalue .Args }})

	err = obj.driver.QueryRow(__stmt, {{ fieldvalue .Args }}).Scan(&count)
	if err != nil {
		return 0, obj.makeErr(err)
	}

	return count, nil
}
{{ end -}}
