{{- define "signature" -}}
Get_{{ .Suffix }}({{ ctxparam .AllArgs }}) (
	{{ param .Row }}, err error)
{{- end -}}

{{- define "invoke" -}}
Get_{{ .Suffix }}({{ ctxarg .AllArgs }})
{{- end -}}

{{- define "body" }}
	{{ embedplaceholders .Info }}
	{{ embedsql .Info "__embed_stmt" }}

	var __values []interface{}
	__values = append(__values, {{ fieldvalue .StaticArgs }})

	{{ range $i, $arg := .NullableArgs }}
	if !{{ $arg.Name }}.isnull() {
		__cond_{{ $i }}.Null = false
		__values = append(__values, {{ $arg.Name }}.value())
	}
	{{ end }}

	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, __values...)

	{{ init .Row }}
	err = obj.driver.QueryRow(__stmt, __values...).Scan({{ addrof (flatten .Row) }})
	if err != nil {
		return {{ zero .Row }}, obj.makeErr(err)
	}
	return {{ arg .Row }}, nil
{{ end -}}
