{{- define "signature" -}}
Has{{ .Suffix }}({{ param .Args }}) (has bool, err error)
{{- end -}}

{{- define "body" }}{
	const __stmt=`{{ .SQL }}`
	obj.logStmt(__stmt, {{ arg .Args }})

	err = obj.impl.QueryRow(__stmt, {{ arg .Args }}).Scan(&has)
	if err != nil {
		return false, WrapErr(err)
	}
	return has, nil
}
{{ end -}}
