{{- define "signature" -}}
Delete_{{ .Suffix }}({{ ctxparam .Args }}) (
	deleted bool, err error)
{{- end -}}

{{- define "invoke" -}}
Delete_{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" -}}
	{{ embedsql .Info "__embed_stmt" }}
	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, {{ fieldvalue .Args }})

	__res, err := obj.driver.Exec(__stmt, {{ fieldvalue .Args }})
	if err != nil {
		return false, obj.makeErr(err)
	}

	__count, err := __res.RowsAffected()
	if err != nil {
		return false, obj.makeErr(err)
	}

	return __count > 0, nil
{{ end -}}
