{{- define "signature" -}}
Limited_{{ .Suffix }}({{ ctxparam .Args}},
	limit int, offset int64) (
	rows {{ sliceof .Row }}, err error)
{{- end -}}


{{- define "invoke" -}}
Limited_{{ .Suffix }}({{ ctxarg .Args}}, limit, offset)
{{- end -}}

{{- define "body" }}
	const __stmt={{ printf "%q" .SQL }}
	obj.logStmt(__stmt, {{ fieldvalue .Args | comma }}limit, offset)

	__rows, err := obj.driver.Query(__stmt, {{ fieldvalue .Args | comma }}limit, offset)
	if err != nil {
		return nil, obj.makeErr(err)
	}
	defer __rows.Close()

	for __rows.Next() {
		{{ initnew .Row }}
		err = __rows.Scan({{ addrof (flatten .Row) }})
		if err != nil {
			return nil, obj.makeErr(err)
		}
		rows = append(rows, {{ arg .Row }})
	}
	if err := __rows.Err(); err != nil {
		return nil, obj.makeErr(err)
	}
	return rows, nil
{{ end -}}
