{{- define "signature" -}}
Update{{ .Suffix }}({{ ctxparam .Args }},
	update {{ .Struct.UpdateStructName }}) (
	{{ param .Return }}, err error)
{{- end -}}

{{- define "body" -}}{
	const __stmt_prefix={{ printf "%q" .SQLPrefix }}
	const __stmt_suffix={{ printf "%q" .SQLSuffix }}

	var qs []byte
	var values []interface{}

	{{ if .PositionalArguments }}
	j := {{ len .Args }}
	values = append(values, {{ fieldvalue .Args }})
	{{ end -}}

	addArgument := func(name string) {
		qs = append(qs, name...)
		{{- if .PositionalArguments }}
		j++
		qs = append(qs, " = {{ .ArgumentPrefix }}"...)
		qs = append(qs, strconv.Itoa(j)...)
		qs = append(qs, ", "...)
		{{- else }}
		qs = append(qs, " = {{ .ArgumentPrefix }}, "...)
		{{- end }}
	}
	_ = addArgument

	{{ range .Struct.UpdatableFields }}
	if update.{{ .Name }}._set {
		addArgument("{{ .Column }}")
		values = append(values, update.{{ .Name }}.value())
	}
	{{ end }}

	{{- if .NeedsNow }}
	__now := Now().UTC()
	{{ end -}}
	{{ range .AutoFields }}
	addArgument("{{ .Name }}")
	values = append(values, {{ .InitVal }})
	{{ end }}

	{{ if not .AutoFields }}
	if len(qs) == 0 {
		return nil, emptyUpdate()
	}
	{{ end }}

	{{ if not .PositionalArguments -}}
	values = append(values, {{ fieldvalue .Args }})
	{{ end }}

	__stmt := __stmt_prefix + string(qs[:len(qs)-2]) + __stmt_suffix
	obj.logStmt(__stmt, values...)

	{{ init .Return }}
	{{ if .SupportsReturning }}
	err = obj.driver.QueryRow(__stmt, values...).Scan({{ addrof (flatten .Return) }})
	if err == sql.ErrNoRows {
		return nil, nil
	}
	if err != nil {
		return nil, obj.makeErr(err)
	}
	{{ else -}}
	_, err = obj.driver.Exec(__stmt, values...)
	if err != nil {
		return nil, obj.makeErr(err)
	}
	const __get_stmt={{ printf "%q" .GetSQL }}
	obj.logStmt("(IMPLIED) " + __get_stmt, {{ fieldvalue .Args }})

	err = obj.driver.QueryRow(__get_stmt, {{ fieldvalue .Args }}).Scan({{ addrof (flatten .Return) }})
	if err == sql.ErrNoRows {
		return nil, nil
	}
	if err != nil {
		return nil, obj.makeErr(err)
	}
	{{ end -}}
	return {{ arg .Return }}, nil
}
{{- end -}}
