{{- define "import" }}
	"github.com/lib/pq"
{{ end -}}

{{- define "is-constraint-error" }}
func (impl {{ .Receiver }}) isConstraintError(err error) (
	constraint string, ok bool) {
	if e, ok := err.(*pq.Error); ok {
			if e.Code.Class() == "23" {
				return e.Constraint, true
			}
	}
	return "", false
}
{{ end -}}

{{- define "open" }}
func openpostgres(source string) (*sql.DB, error) {
	return sql.Open("postgres", source)
}
{{ end -}}