{{- define "signature" -}}
Delete{{ .Suffix }}({{ ctxparam .Args }}) (count int64, err error)
{{- end -}}

{{- define "body" -}}{
	const __stmt={{ printf "%q" .SQL }}
	obj.logStmt(__stmt, {{ fieldvalue .Args }})

	__res, err := obj.driver.Exec(__stmt, {{ fieldvalue .Args }})
	if err != nil {
		return 0, WrapErr(err)
	}

	count, err = __res.RowsAffected()
	if err != nil {
		return 0, WrapErr(err)
	}

	return count, nil
}
{{ end -}}
