
type TXMethods interface {
{{- range .Funcs }}
	{{ . }}
{{- end -}}
}

type txMethods interface {
	TXMethods
}

type DBMethods interface {
	Schema() string
	TXMethods
}

type dbMethods interface {
	DBMethods

	wrapTx(tx *sql.Tx) txMethods
}
