{{- define "signature" -}}
Has{{ .Suffix }}({{ param .Args }}) (has bool, err error)
{{- end -}}

{{- define "body" }}{
	const __stmt=`{{ .SQL }}`
	__prepared, __replace, err := obj.prepare(__stmt)
	if err != nil {
		return false, WrapErr(err)
	}
	defer __replace()
	obj.logStmt(__stmt, {{ arg .Args }})

    err = __prepared.QueryRow({{ arg .Args }}).Scan(&has)
	if err != nil {
		return false, WrapErr(err)
	}
    return has, nil
}
{{ end -}}
