{{- define "signature" -}}
Get{{ .Suffix }}({{ ctxparam .Args }}) (
	{{ param .Row }}, err error)
{{- end -}}

{{- define "invoke" -}}
Get{{ .Suffix }}({{ ctxarg .Args }})
{{- end -}}

{{- define "body" }}{
	const __stmt={{ printf "%q" .SQL }}
	obj.logStmt(__stmt, {{ fieldvalue .Args }})

	{{ init .Row }}
	err = obj.driver.QueryRow(__stmt, {{ fieldvalue .Args }}).Scan({{ addrof (flatten .Row) }})
	if err != nil {
		return {{ zero .Row }}, obj.makeErr(err)
	}
	return {{ arg .Row }}, nil
}
{{ end -}}
