{{- define "signature" -}}
Create_{{ .Suffix }}({{ ctxparam .Args }}) (
	{{ param .Return }}, err error)
{{- end -}}

{{- define "invoke" -}}
Create_{{ .Suffix }}({{ ctxarg .Args }})
{{ end -}}

{{- define "body" -}}
	{{- if .NeedsNow }}
	__now := obj.db.Hooks.Now().UTC()
	{{ end -}}
	{{ initnew .Fields }}

	{{ embedsql .Info "__embed_stmt" }}
	var __stmt = __sqlbundle_Render(obj.dialect, __embed_stmt)
	obj.logStmt(__stmt, {{ arg .Fields }})

	{{ if .SupportsReturning }}
	{{ init .Return }}
	err = obj.driver.QueryRow(__stmt, {{ arg .Fields }}).Scan({{ addrof (flatten .Return) }})
	if err != nil {
		return nil, obj.makeErr(err)
	}
	return {{ arg .Return }}, nil
	{{ else -}}
	__res, err := obj.driver.Exec(__stmt, {{ arg .Fields}})
	if err != nil {
		return nil, obj.makeErr(err)
	}
	__pk, err := __res.LastInsertId()
	if err != nil {
		return nil, obj.makeErr(err)
	}
	return obj.getLast{{ .Return.Type }}(ctx, __pk)
	{{ end -}}
{{ end -}}
