type Methods interface {
{{- range .Funcs }}
	{{ . }}
{{ end }}
}

type TxMethods interface {
	Methods

	Commit() error
	Rollback() error
}

type txMethods interface {
	TxMethods

	deleteAll(ctx context.Context) (int64, error)
	makeErr(err error) error
}

type DBMethods interface {
	Schema() string
	Methods
}

type dbMethods interface {
	DBMethods

	wrapTx(tx *sql.Tx) txMethods
	makeErr(err error) error
}
